*.bak
*~

*.sw?

blib/
_build/
Build
cover_db/
MANIFEST.SKIP.bak
MYMETA.json
MYMETA.yml
nytprof.out
nytprof/

aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
Makefile
Makefile.in
missing

wdic
wdic.1
wish.fcgi
wish.fcgi.8

.sass-cache/
static/wish.css
static/wish.css.map
