@import 'flexbox';

/* Colors: Partnership by cantc
 * http://www.colourlovers.com/palette/2085059/Partnership
 */

$c_light: #F7F7F7;
$c_grey: #C9D1D3;
$c_blue: #0E68C9;
$c_dark: #3B3737;
$c_darkred: #991818;

$c_background: $c_light;
$c_foreground: $c_dark;
$c_lighter: #FFFFFF;
$c_dead: $c_grey;
$c_title: $c_foreground;
$c_highlight: $c_darkred;
$c_link: $c_blue;

body {
	margin: 0;
	background: $c_background;
	color: $c_foreground;
}

#header {
	margin: 5px;
	@include flexbox;

	input {
		color: $c_foreground;
		background: $c_lighter;
		border: 1px solid $c_dead;
		font-size: 1.2em;
		padding: 5px 10px;
		margin: 5px;
	}
	input[type=text] {
		@include flex(auto);
	}
}

#main {
	margin: 0 10px;
}

h2 {
	margin: 10px 0;
	padding: 5px;
	font-size: 1.5em;
	color: $c_title;
	border-bottom: 1px solid $c_dead;
}

b {
	color: $c_highlight;
}

a {
	color: $c_link;
}

.skip {
	font-size: 1.4em;
	padding: 0 5px;
	a {
		text-decoration: none;
		padding: 2px;
	}
}

.results {
	@include flexbox;
	@include flex-direction(row-reverse);
	.kanjis {
		@include flex(1);
	}
	.words {
		@include flex(3);
	}
	h3 {
		display: none;
	}
}
