@import 'flexbox';

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

/* Colors: Partnership by cantc
 * http://www.colourlovers.com/palette/2085059/Partnership
 */

$c_light: #F7F7F7;
$c_grey: #C9D1D3;
$c_blue: #0E68C9;
$c_dark: #3B3737;
$c_darkred: #991818;

$c_background: $c_light;
$c_foreground: $c_dark;
$c_lighter: #FFFFFF;
$c_dead: $c_grey;
$c_mid: #A0A0A0;
$c_title: $c_foreground;
$c_highlight: $c_darkred;
$c_link: $c_blue;
$c_tooltip: $c_dead;

body {
	margin: 0;
	background: $c_background;
	color: $c_foreground;
	max-width: 3400px;
	margin: auto;
	font-family: sans-serif;
}

#header {
	margin: 5px;
	@include flexbox;

	input {
		color: $c_foreground;
		background: $c_lighter;
		border: 1px solid $c_dead;
		font-size: 1.1em;
		padding: 5px 10px;
		margin: 5px;
	}
	input[type=text] {
		@include flex(auto);
	}
}

#main {
	margin: 0 10px;
}

h2 {
	margin: 10px 0;
	padding: 5px;
	font-size: 1.4em;
	color: $c_title;
	border-bottom: 1px solid $c_dead;
}

a {
	color: $c_link;
	text-decoration: none;
}

.skip {
	font-size: 1.4em;
	padding: 0 5px;
	a {
		padding: 2px;
	}
}

$column-width: 300px;

@mixin entry-columns($cols) {
	@media screen and (min-width: $cols * $column-width) {
		.words {
			@include css3-prefix(columns, $cols);
		}
		.kanjis + .words {
			@include css3-prefix(columns, $cols - 1);
			@if $cols > 2 {
				@include flex($cols - 1);
			}
		}
	}
}

.results {
	@include flexbox;
	@include flex-direction(row-reverse);
	margin: 10px 0;

	h3 {
		display: none;
	}
	h4 {
		font-size: 1.1em;
		margin: 10px 5px;
	}

	/* default 2-column layout: split 2/3 */
	.kanjis {
		@include flex(1);
	}
	.words {
		min-height: 200px;
		@include flex(2);
	}
	@media print, (max-width: 2 * $column-width) {
		/* display kanjis at the top */
		@include css3-prefix(display, block);
		.kanjis {
			@include flexbox;
			@include flex-flow(row wrap);
			margin: 0 5px;
		}
		.kanjis .kanji {
			font-size: 0.9em;
			width: 40%;
			@include flex(auto);
		}
		.words h3 {
			display: block;
			font-size: 1.2em;
			margin: 10px 5px;
		}
	}
	@media screen and (max-width: 1.4 * $column-width) {
		.kanjis .kanji {
			width: auto;
		}
	}
	@include entry-columns(2);
	@include entry-columns(3);
	@include entry-columns(4);
	@include entry-columns(5);
	@include entry-columns(6);
	@include entry-columns(7);
	@include entry-columns(8);
	@include entry-columns(9);
	/* oughta be fancy having a 4K screen */
	/* SO MUCH DATA */
}

.words {
	.nothing {
		margin: 5px;
		color: $c_dead;
	}
}

ol.empty {
	display: none;
}

ol.single {
	list-style: none;
}

.entry {
	@include css3-prefix(column-break-inside, avoid);
	margin: 10px 5px;
	font-size: 0.9em;
	.heading {
		font-size: 1.3em;
	}
	.heading .marker, .readings .marker {
		color: $c_mid;
		font-size: 0.7em;
		padding-left: 3px;
	}
	.pos {
		font-style: italic;
		font-size: 0.9em;
	}
	.meanings {
		margin: 5px;
		padding-left: 30px;
	}
	b {
		color: $c_highlight;
		font-weight: normal;
	}
}

.kanji {
	margin: 5px 0;
	@include flexbox;
	.heading {
		display: block;
		font-size: 2em;
		@include flex(none);
	}
	.readings {
		display: block;
		/* for some reason, when setting display: table
		 * webkit doesn't apply margins properly */
		margin: 0 7px;
		line-height: 1.5em;
		td {
			padding: 2px;
			vertical-align: top;
		}
		b {
			font-weight: normal;
			font-size: 0.9em;
			padding: 2px;
			border: 1px solid $c_dark;
			border-radius: 20%;
		}
		.okurigana {
			color: $c_mid;
		}
	}
}


/* Cool guide at:
 * http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/ */
.marker[alt] {
	position: relative;
	$tooltip_pos: 1.3em;
	$arrow_size: 0.5em;
	&:hover:after {
		font-style: normal;
		content: attr(alt);
		font-size: 0.8rem;
		background: $c_tooltip;
		color: $c_foreground;
		border-radius: 3px 3px 3px 0;
		padding: 5px 8px;
		position: absolute;
		bottom: $tooltip_pos + $arrow_size;
		left: 30%;
		z-index: 98;
		min-width: 100px;
	}
	&:hover:before{
		content: "";
		border-style: solid;
		border-color: $c_dead transparent;
		border-width: $arrow_size $arrow_size 0 0;
		position: absolute;
		bottom: $tooltip_pos;
		left: 30%;
		z-index: 99;
	}
}

@media print {
	body {
		background: white;
	}
	form#header {
		display: none;
	}
}
